* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.company-moto-name {
  margin-right: 40rem;
}

.logo {
  height: 10rem;
}
.logos-headers {
  width: 15rem;
}

/****************************/
/* NAVIGATION */
/****************************/

.main-nav-list {
  list-style: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #767676;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #aaa;
}

/****************************/
/* MOBLIE */
/****************************/
.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/****************************/
/* HERO SECTION */
/****************************/

.section-hero {
  background-image: url("../img/background\ -image.jpg");
  background-size: cover;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-img {
  width: 100%;
  border-radius: 100px;
}

.hero {
  max-width: 130rem;
  align-items: center;
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: aliceblue;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  margin-right: 1.6rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:link,
.btn--full:hover {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:link,
.btn--outline:hover {
  background-color: #fdf2e9;
  color: #555;

  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6 !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imges {
  display: flex;
}

.delivered-imges img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imges img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  padding-left: 3rem;
  padding-top: 1.8rem;
}

.delivered-text span {
  color: slategray;
  font-weight: 700;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/****************************/
/* ABOUT SECTION */
/****************************/
.heading-about {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  margin-top: 3rem;
}

.About-description {
  font-size: 20px;
  word-spacing: 2px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 9.6rem;
}

.about-img {
  width: 100%;
  margin-top: 15rem;
  border-radius: 10%;
}

/****************************/
/* Video SECTION*/
/****************************/
.video-section {
  background-color: #333;
  padding-bottom: 3rem;
}

.video-text {
  text-align: center;
  color: #ddd;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  padding-top: 2rem;
}

/****************************/
/* Certificates SECTION*/
/****************************/
.section-certificates {
  background-color: #fae5d3;
}
.Certificates-text-center {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  background-color: #45260a;
  color: #ddd;
}
.slider-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 33.333%;
  padding: 5px;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

button .prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .slide {
    flex: 0 0 50%; /* Show 2 images at a time */
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 100%; /* Show 1 image at a time */
  }
}

/****************************/
/* Reviews SECTION*/
/****************************/
.Reviews-heading {
  color: #333;
  font-size: 4.4rem;
  margin-bottom: 2rem;
}

.section-testimonials {
  background-color: #fae5d3;
  display: grid;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

/**************************/
/* CEO SECTION */
/**************************/
.ceo-section {
  background-color: #111;
}
.ceo-text-name h1,
h2 {
  color: #ddd;
  font-family: monospace;
  text-align: center;
  font-size: 3rem;
  line-height: 6rem;
}

.ceo-img {
  width: 70%;
  margin-left: 20rem;
  margin-bottom: 3rem;
}
/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fdf2e9;
  color: #45260a;
}
/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
}
.footer h1 {
  font-family: "Georgia", serif;
  font-size: 24px;
}
.copyright {
  font-size: 2px;
}
.footer p {
  margin: 10px 0;
  font-size: 2rem;
  color: #ddd;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.icons {
  margin-top: 10px;
}
.icons a {
  margin: 0 10px;
  font-size: 30px;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.logos {
  width: 14rem;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
